*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
SyncToy_3d901fa9-7f0c-42f4-8c66-f52d4560bddb.dat
SyncToy_5aa7ff11-7d14-4932-a570-7d932cab0ead.dat
